---
// src/components/Navigation.astro
---
<nav class="space-y-4 font-serif border-gray-500">
  <a href="/" class="block text-gl-fg2 dark:text-gd-fg2 hover:text-gl-fg dark:hover:text-gd-fg transition-colors">Home</a>
  <a href="/blog" class="block text-gl-fg2 dark:text-gd-fg2 hover:text-gl-fg dark:hover:text-gd-fg transition-colors">Blog</a>
  <a href="/essays" class="block text-gl-fg2 dark:text-gd-fg2 hover:text-gl-fg dark:hover:text-gd-fg transition-colors">Essays</a>
  <a href="/aphorisms" class="block text-gl-fg2 dark:text-gd-fg2 hover:text-gl-fg dark:hover:text-gd-fg transition-colors">Aphorisms</a>
  <a href="/about" class="block text-gl-fg2 dark:text-gd-fg2 hover:text-gl-fg dark:hover:text-gd-fg transition-colors">About Me</a>
  <a href="/contact" class="block text-gl-fg2 dark:text-gd-fg2 hover:text-gl-fg dark:hover:text-gd-fg transition-colors">Contact</a>
</nav>
