---
interface Props {
  // No props needed, using slot for content
}
---

<div class="summary text-2xl font-bold text-gl-accent dark:text-gd-accent bg-gd-bg dark:bg-gl-bg leading-relaxed text-center shadow-md rounded-md p-4">
  <slot />
</div>
